.control-search {
  position: relative;
  padding: 20rpx 24rpx;
  background-color: #F3F4F5;
  z-index: 98;
  .control-wrap {
    background-color: #fff;
    border-radius: 33rpx;
    height: 66rpx;
    .icon-search {
      width: 28rpx;
      height: 28rpx;
      margin-right: 10rpx;
    }
    .label {
      color: #999;
    }
    &.control-focus {
      padding-left: 42rpx;
      .control-input {
        flex: 1;
        padding-right: 30rpx;
      }
    }
  }
}