.page-invite {
  .invite-box {
    position: relative;
    padding: 62rpx 100rpx 0;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 20rpx;
      width: 100%;
      background-color: #F3F4F5;
    }
  }
}