.page-login {
  .login-box {
    position: relative;
    padding: 46rpx 50rpx 0;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 20rpx;
      width: 100%;
      background-color: #F3F4F5;
    }
    button {
      background:rgba(6,192,98,1);
    }
  }
}