.page-login {
  padding-top: 100rpx;
  text-align: center;
  .authorize {
    width: 240rpx;
    height: 240rpx;
    display: block;
    margin: 0 auto;
    padding-bottom: 60rpx;

  }
  .auth-item {
    padding: 5rpx 0;
  }
  .login-box {
    position: relative;
    padding: 46rpx 50rpx 0;
    button {
      background-color:#179B16;
    }
  }
}